@import url('./loadingcommon.css'); 

/* 공통 */
#loading {width: 100%; height: 100vh; 
  border: 0.1rem solid #f7436d; 
  border-radius: 2rem; }
#loading .inner-div {
  width: 100%;
  max-width:780px;  
  margin: 0 auto; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction:column; 
  justify-content: flex-start; 
  position: relative;
  z-index: 0;
}

/* 로딩 */
#loading .inner-header {margin: 0 auto; width: 100%; height: 10%;}
#loading .inner-header .xi-info-o {
  display: flex; 
  align-items: center;
  font-size: 3.5rem;
  color: #f7436d;
  height: 70%; width: 20%; margin-top: 1rem; margin-left: 87%;
}

#loading .main-div {margin: 0 auto; width: 100%; height: 90%; }
#loading .main-div .logimg {
  background-image: url("../img/KakaoTalk_20240130_164442910.png");
  background-position: center; 
  background-repeat: no-repeat;
  display: flex; align-items: center; margin: 0 auto; width: 70%; height: 40%;
}
#loading .main-div .select {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-size: 1.5rem;
  font-family:'GapyeongWave';
}
#loading .main-div .select .select1, #loading .main-div .select .select2 { 
  background-color: #f7436d; 
  height: 5rem; 
  margin-left: 5rem; 
  margin-right: 5rem; 
  margin-bottom: 2rem; 
  border-radius: 2rem;
  padding-top: 0.01rem;
  height: 5rem;
}

#loading .info {
  margin: 0 auto; 
  width: 80%;
  height: 75%; 
  display: flex; 
  align-items: center; 
  border-radius: 2rem; 
  margin-top: 15%;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 0.1rem solid #f7436d;
}
#loading .info .xi-close {
  margin: 0 auto; 
  width: 8%; 
  height: 5%; 
  margin-top: 1rem; 
  margin-left: 85%;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 3rem;
  color: #f7436d
}
#loading .info h4 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center; 
  font-size: 2rem;
  color: #f7436d;
  margin-bottom: 3.5rem;
  font-family: 'GapyeongWave';
}
#loading .info p {
  margin: 0 auto;
  padding: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-family: 'SEBANG_Gothic_Bold';
}
