* {margin: 0;}

header {
    /* 나중에 지울 부분 */
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    background-color: #F7436d;
    display: flex;
    justify-content: space-between;
}

.Qlist {
    width: 40%;
    height: 3rem;
    line-height: 3rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #F8436C;
    font-weight: bold;
}

.chatting {
    /* padding: 1rem; */
    width: 100%;
    height: calc(100%-5rem);
}

.chatbot , .user{
    height: 3rem;
    padding: 0.8rem 0rem;
    display: flex;
}

.profile {
    width: 3rem;
    height: 3rem;
    background-color: antiquewhite;
    border: 0.005rem black solid;
    border-radius: 20rem;
    margin-right: 1rem;
}

.contentC {
    padding: 0.7rem;
    border: 0.005rem black solid;
    border-radius: 1rem;
}

.user {
    justify-content: flex-end;
}

.contentU {
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: #f9d4df;
}